.song-card {
  width: 200px;
  margin: 20px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .image-container {
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body-card {
    padding: 10px;
    .album-title {
      height: 60px;
      font-size: 16px;
      font-weight: 400;
    }
    .track-name {
      height: 30px;
      font-size: 12px;
      font-weight: 400;
    }
    img, svg {
      width: 16px;
      height: 16px;
      -webkit-tap-highlight-color: transparent;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
